---
import { GITHUB_USER } from "astro:env/server";
import { BASE_URL } from "astro:env/server";

import OrganizationIcon from "@icons/OrganizationIcon.astro";
import LocationIcon from "@icons/LocationIcon.astro";
import EmailIcon from "@icons/EmailIcon.astro";
import LinkedinIcon from "@icons/LinkedinIcon.astro";
import XIcon from "@icons/XIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";

type User = {
  name: string;
  login: string;
  avatar_url: string;
  html_url: string;
  location: string | null;
  company: string | null;
};

const res = await fetch(`${BASE_URL}/users/${GITHUB_USER}`);
const user: User = await res.json();
---

<div class="text-center p-2">
  <img
    src={user.avatar_url}
    alt={`Avatar de ${user.name}`}
    class="w-32 h-32 md:w-48 md:h-48 mx-auto rounded-full shadow-lg"
  />
  <h1
    class="text-2xl md:text-3xl font-bold mt-4 text-light-500 dark:text-dark-100"
  >
    {user.name}
  </h1>
  <a
    href={user.html_url}
    target="_blank"
    class="text-light-450 dark:text-dark-200 hover:underline"
  >
    @{user.login}
  </a>

  <div class="mt-4 space-y-4 text-light-500 dark:text-dark-200 text-sm">
    <div
      class="flex flex-col sm:flex-row sm:gap-6 sm:justify-center border border-light-300 dark:border-dark-400 p-4 rounded-lg"
    >
      {
        user.company && (
          <p class="flex items-center justify-center sm:justify-center">
            <OrganizationIcon className="mr-2" /> {user.company}
          </p>
        )
      }
      {
        user.location && (
          <p class="flex items-center justify-center sm:justify-center">
            <LocationIcon className="mr-1" /> {user.location}
          </p>
        )
      }
    </div>

    <div
      class="flex items-center justify-center gap-4 border border-light-300 dark:border-dark-400 p-4 rounded-lg"
    >
      <a
        href="mailto:fospina@unicauca.edu.co"
        target="_blank"
        class="h-10 w-10 rounded-md flex items-center justify-center border border-light-300 dark:border-dark-400 bg-light-100 dark:bg-dark-500 text-light-500 dark:text-dark-200 hover:bg-light-400 dark:hover:bg-dark-500"
      >
        <EmailIcon className="w-6 h-6" />
      </a>
      <a
        href="https://www.linkedin.com/in/faberospinacortes/"
        target="_blank"
        class="h-10 w-10 rounded-md flex items-center justify-center border border-light-300 dark:border-dark-400 bg-light-100 dark:bg-dark-500 text-light-500 dark:text-dark-200 hover:bg-light-400 dark:hover:bg-dark-500"
      >
        <LinkedinIcon className="w-5 h-5" />
      </a>
      <a
        href="https://github.com/FaberOs"
        target="_blank"
        class="h-10 w-10 rounded-md flex items-center justify-center border border-light-300 dark:border-dark-400 bg-light-100 dark:bg-dark-500 text-light-500 dark:text-dark-200 hover:bg-light-400 dark:hover:bg-dark-500"
      >
        <GithubIcon className="w-6 h-6" />
      </a>
      <a
        href="https://x.com/FaberOspina23"
        target="_blank"
        class="h-10 w-10 rounded-md flex items-center justify-center border border-light-300 dark:border-dark-400 bg-light-100 dark:bg-dark-500 text-light-500 dark:text-dark-200 hover:bg-light-400 dark:hover:bg-dark-500"
      >
        <XIcon className="w-5 h-5" />
      </a>
    </div>
  </div>
</div>
